Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
.vs/
*.sln

Content/
!Content/Behavior/
!Content/Blueprint/
!Content/Blueprints/
!Content/Characters/
!Content/Controller/
!Content/Decal/
!Content/Function/
!Content/GameMode/
!Content/Input/
!Content/Maps/
!Content/Skill/
!Content/TableData/
!Content/UI/